@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Raleway:wght@600&family=Work+Sans:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    background:#FF9C1A;
    width: 60%;
} */
header{
    background: #FF9C1A;
    width: 70%;
    height:auto;
    margin: auto;
   margin-left: 170px;
   border: 2px solid #FF9C1A;
   border-radius: 15px;
   margin-top: 120px;
   text-align: center;
}
.header-items img{
    width: 300px;
    margin: auto;
    border: 6px solid #3400f0;
    background-color: #2400f3;
    border-radius: 100px;
}
.header-items{
    align-items:center;
}
.header-items h2{
    font-size: 45px;
    font-weight: 700px;
}
.header-items p{
    font-size: 25px;
    font-weight: 450px;
}
header .icons{
    margin: 18px;
    font-size: 45px;
    padding: 0px,0px;
}
header .main{
    font-size: 20px;
    margin: 20px 0;
    
}


.main ul li{
    list-style-type: none;
    
}
.ul li i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    padding: 5px;
}

.futer a {
    text-decoration: none;
   font-size: 25px;
   color: #161615;
   border:3px solid #161615;
   background-color: transparent;
   border-radius: 8px;
   padding: 8px;
}
